.field-container {
  display: flex;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
}

.field-label {
  display: flex;
  background-color: var(--field-label-bg);
  align-items: center;
  border-radius: 10px 0 0 10px;
  padding: 10px 10px;
  gap: 5px;
  min-width: 180px;
  box-sizing: border-box;
}

.combobox-flaged {
  background-color: var(--error-75) ;
  transition: background-color 200ms;
  cursor: pointer;
}

.disabled-combobox {
  cursor: default;
  background-color: var(--disabled-selector);
}

.field-select {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--primary-100);
  width: 100%;
  padding: 0 10px;
  transition: background-color 0ms;
}

.normal-combobox{
  cursor: pointer;
  background-color: var(--white);
}

.field-select:focus {
  box-shadow: inset 0 0 0 3px rgba(0, 123, 255, 0.4);
  transition: box-shadow ease-in-out 150ms;
}
