.submit-section{
  position: sticky;
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-75);
  height: 65px;
  align-items: center;
  padding: 0 20px;
  justify-content: end;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.submit-button {
  padding: 0.35% 1% 0.5% 1%;
  border-radius: 4px;
  gap:5px;
  fill: var(--primary-100);
  border: none;
  background-color: var(--accent-75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-100);
  cursor: pointer;
  transition: 150ms;
  font-weight: 500;
  font-size: 16px;
}

.submit-button svg{
  width: 25px;
  height: 25px;
}

.submit-button:hover {
  background-color: var(--accent-100);
}
