.text-field-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}

.text-field-content {
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.text-field-label-content {
  display: flex;
  background-color: var(--field-label-bg);
  align-items: center;
  border-radius: 10px 0 0 10px;
  padding: 10px 10px;
  gap: 5px;
  min-width: 180px;
  box-sizing: border-box;
}

.text-field-input {
  border-bottom: 1px solid var(--primary-100);
  padding: 0 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.text-field-input span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.text-field-input input {
  background: transparent !important;
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.text-field-input input:-webkit-autofill,
.text-field-input input:-webkit-autofill:hover, 
.text-field-input input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--disabled-field) inset;
}

.disabled-input {
  background-color: var(--disabled-field);
}

.text-field-input:focus-within {
  box-shadow: inset 0 0 0 3px rgba(0, 123, 255, 0.4);
  transition: box-shadow ease-in-out 150ms;
}

.telephone-input {
  padding-left: 50px;
}

.text-field-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--error-100);
}

.text-field-messages ul {
  margin: 0;
}

.text-field-error {
  background-color: var(--error-75);
  transition: background-color 200ms;
}

@media (max-width: 1000px) {
  .text-field-content {
    flex-direction: column;
  }
  .text-field-label-content {
    border-radius: 10px 10px 0 0;
  }
  .text-field-input {
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }
  .telephone-input{
    padding-left: 50px;
  }
}
