.rut-card{
  box-shadow: 0px 0px 30px #1857b42f;
  display: flex;
  background-color: var(--white);
  padding: 20px 35px;
  gap:5px;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto 30px auto;
}
.rut-field{
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.rut-label {
  display: flex;
  background-color: var(--field-label-bg);
  align-items: center;
  border-radius: 10px 0 0 10px;
  padding: 10px 10px;
  gap: 5px;
  min-width: 140px;
  box-sizing: border-box;
}

.rut-input {
  border-bottom: 1px solid var(--primary-100);
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.rut-input span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.rut-input input {
  box-sizing: border-box;
  background: transparent !important;
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0 10px;
}


.rut-search {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  object-fit: cover;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  fill: var(--primary-100);
  cursor: pointer;
  transition: scale 100ms;
}

.rut-search:hover {
  scale: 1.1;
}


.rut-input input:focus {
  box-shadow: inset 0 0 0 3px rgba(0, 123, 255, 0.4);
  transition: box-shadow ease-in-out 150ms;
} 

.rut-indicator {
  user-select: none;
}

.rut-failed {
  color: var(--error-100);
}

.rut-verified {
  color: green;
}

.rut-already {
  color: var(--tertiary-100);
}

.rut-found {
  color: var(--primary-100);
}

@media (max-width: 1000px) {
  .rut-card {
    width: 100%;
  }
  .rut-label{
    min-width: 20%;
  }
}
