.checkbox-container {
  padding: 0px 15px;
}

.checkbox-label {
  display: flex;
  position: relative;
  gap: 5px;
  min-width: 180px;
  background-color: var(--secondary-75);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  padding: 10px 10px;
}

.checkbox-flaged{
  background-color: var(--error-75);
  transition: background-color 500ms;
}

.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid var(--primary-100);
}

.disabled-checkbox {
  background-color: var(--secondary-80);
}

.checkbox-item {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.checkbox-item label {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-item input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-item label:not(:enabled) {
  cursor: pointer;
}

.checkbox-checkmark {
  border: 1px solid var(--black);
  top: 50%;
  position: relative;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--white);
}

.checkbox-item:hover input:enabled:not(:checked) ~ .checkbox-checkmark {
  background-color: var(--primary-75);
}

.checkbox-item input:checked ~ .checkbox-checkmark {
  background-color: var(--primary-100);
  border: 1px solid var(--primary-100);
}

.checkbox-checkmark {
  transition-duration: 200ms;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-item input:checked ~ .checkbox-checkmark:after {
  display: block;
}

.checkbox-item .checkbox-checkmark:after {
  left: 5px;
  top: 2px;
  width: 3.5px;
  height: 7px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 1000px) {
  .checkbox-container {
    grid-column: span 1;
  }

  .checkbox-item {
    width: 50%;
  }

  .checkbox-item label {
    justify-content: start;
  }
}
