:root {
  --primary-100: #5672ff;
  --primary-75: #5672ff55;
  --secondary-100: #495057;
  --secondary-80: #81888f;
  --secondary-75: #f2f4ff;
  --white: #fafafa;
  --black: #000;
  --black-75: #121212b0;
  --tertiary-100: #eba716;
  --tertiary-75: #fce6c9;
  --accent-100: #d8ff56;
  --accent-75: #d1f755a2;
  --error-100: #c71919;
  --error-75: #da54549c;
  --warning: #ff0000;
  --success-75: #0c771bc5;
  --success-100: #067a16;
  --text-normal: #111;
  --form-structure-title-bg: #123;
  --disabled-field: #dce2ff;
  --disabled-selector: #d3daff;
  --field-label-bg: #f2f4ff;
  --structure-bg: #fff;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-75);
  background-image: url(./assets/page-bg.svg);
  background-size: cover;
}

html {
  width: 100%;
  overflow-x: hidden;
}

.font-encode {
  font-family: "Encode Sans", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.font-roboto-rut {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.text-form-title {
  font-size: 1.25rem;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  color: var(--primary-100);
}

.text-help {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-normal);
}

.text-field-label {
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

.text-field-label-white {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}

.text-header {
  font-size: 1.75rem;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
}

.full-field {
  grid-column: span 2;
}

.half-field {
  grid-column: span 1;
}

@media (max-width: 1000px) {
  .full-field {
    grid-column: span 1;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--secondary-100);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-100);
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}
