.caf-container {
  grid-column: span 2;
  padding: 0px 15px;
}

.caf-label {
  display: flex;
  position: relative;
  gap: 5px;
  min-width: 180px;
  background-color: var(--secondary-75);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  padding: 10px 10px;
}

.caf-options {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid var(--primary-100);
}

.caf-option {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disabled-caf {
  background-color: var(--secondary-80);
}

.caf-checkfield {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.caf-checkfield label {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.caf-checkfield input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.caf-checkfield label:not(:enabled) {
  cursor: default;
}

.caf-checkmark {
  border: 1px solid var(--black);
  top: 50%;
  position: relative;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--white);
}

.caf-checkfield:hover input:enabled:not(:checked) ~ .caf-checkmark {
  background-color: var(--primary-75);
}

.caf-checkfield input:checked ~ .caf-checkmark {
  background-color: var(--primary-100);
  border: 1px solid var(--primary-100);
}

.caf-checkmark {
  transition-duration: 200ms;
}

.caf-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.caf-checkfield input:checked ~ .caf-checkmark:after {
  display: block;
}

.caf-checkfield .caf-checkmark:after {
  left: 5px;
  top: 2px;
  width: 3.5px;
  height: 7px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.caf-textfield {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.caf-textfield-input {
  border-radius: 10px;
  border: 1px solid var(--primary-100);
  padding: 0 10px;
  width: 100%;
  min-height: 30px;
  position: relative;
  box-sizing: border-box;
}
.caf-textfield-input span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.caf-textfield-input input {
  background: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
}

.caf-textfield-input:focus-within {
  background-color: var(--primary-75);
}

.disabled-caf-text {
  background-color: var(--secondary-80);
}

.caf-telephone {
  padding-left: 50px;
}

.caf-text-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--error-100);
}

.caf-error-element {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  color: var(--error-100);
  font-size: 13px;
}

.caf-text-error {
  background-color: var(--error-75);
}

@media (max-width: 1000px) {
  .caf-container {
    grid-column: span 1;
  }

  .caf-checkfield {
    width: 50%;
  }

  .caf-checkfield label {
    justify-content: start;
  }

  .caf-option {
    width: 100%;
  }
}
