.not-found-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-content {
  font-size: 2.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 0 10%;
  user-select: none;
}

.not-found-image {
  width: 100px;
  height: 100px;
  fill: var(--white);
  transition: 200ms;
}

.not-found-image:hover {
  width: 100px;
  height: 100px;
  scale: 1.5;
  fill: var(--white);
}
